[submodule "vendors/glew"]
	path = vendors/glew
	url = https://github.com/nigels-com/glew.git
[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendors/glm"]
	path = vendors/glm
	url = https://github.com/g-truc/glm.git
	branch = master/0.9.7.1
